{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="container">
    <div class="card bg-white w-50 mx-auto mt-5">
        <div class="card-body">
            <h5 class="card-title text-center">Admin Login</h5>
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                {% if not is_granted('ROLE_ADMIN') %}
                    <div class="mb-3">
                        You are logged in as <b>{{ app.user.username }}</b>, <a href="{{ path('logout') }}">Logout</a>
                    </div>
                {% else %}
                    <div class="mb-3">
                        You are logged in as <b>{{ app.user.username }}</b>, <a href="{{ path('adminlogout') }}">Logout</a>
                    </div>
                {% endif %}
                {% else %}
                <label for="inputEmail">Username</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputEmail" class="form-control" required autofocus>
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                {# <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div> #}
                <button class="btn btn-lg btn-primary" type="submit">
                    Sign in
                </button>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
